@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hidden {
  display: none;
}

ul {
  list-style: none;
  margin-left: -11vw;
}

body {
  background: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.flexbox {
  position: absolute;
  display: flex;
  width: 95vw;
  height: fit-content;
  flex-direction: column;
  margin: 0.1vw;
}

/* --------------------origin flex box items--------------------- */

/* -----------------display-menu------------------- */

.display_menu {
  position: fixed;
  background: #6070ffd0;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  user-select: none;
  animation-duration: 0.5s;
}

@keyframes menu_display_anim {
  0% {
    left: 100vw;
    width: 0.001vw;
    height: 0.001vh;
  }

  100% {
    left: 0.001vw;
    width: 100vw;
    height: 100vh;
  }
}

@keyframes menu_close_anim {
  0% {
    left: 0.001vw;
    width: 100vw;
    height: 100vh;
  }

  100% {
    left: 100vw;
    width: 0.001vw;
    height: 0.001vh;
  }
}

.display_menu ul {
  position: absolute;
  top: 20vw;
  left: 10vw;
  user-select: none;
}

.close_menu_btn {
  background-image: url(./Assets/Images/x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 4vw;
  height: 4vw;
  left: 89vw;
  top: 13vw;
}

.display_menu li {
  margin-top: 4vw;
  user-select: none;
}

.lets_connect_2 a {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 10vw;
  margin-bottom: 5vw;
  user-select: none;
  text-decoration: none;
}

.lets_connect a {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 10vw;
  margin-bottom: 5vw;
  user-select: none;
  text-decoration: none;
}

.display_menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 8.53vw;
  user-select: none;
}

/* -------------header--------------- */

.header {
  position: fixed;
  display: flex;
  height: 12vw;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  z-index: 2;
}

.menu_title {
  position: inherit;
  font-size: 5vw;
  width: 70vw;
  height: 12vw;
  margin-left: 7vw;
  margin-top: 4vw;
  z-index: 2;
}

.menu_title img {
  width: 17vw;
  z-index: 2;
}

.links {
  display: none;
  z-index: 2;
}

.menu_btn {
  display: flex;
  width: 7vw;
  height: 7vw;
  margin-top: 2vw;
  margin-left: 87vw;
  flex-direction: column;
  z-index: 3;
  transition: 0.05s ease-in-out;
}

.menu_btn:active {
  transform: scale(0.9);
}

.menu_btn_elm {
  margin-top: 2vw;
  height: 10vw;
  z-index: 2;
}

/* -----------content----------------- */

.content_body {
  position: relative;
  display: flex;
  background-color: white;
  height: 175vw;
  flex-direction: column;
  z-index: 1;
  width: 99vw;
  left: 0;
}

.greetings {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-left: 5vw;
  width: 70vw;
  height: 55vw;
  margin-top: 20vw;
}

.greetings h1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12vw;
  line-height: 16vw;
  user-select: none;
}

.about {
  margin-left: 5vw;
  width: 88vw;
}

.about h3 {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4.3vw;
  line-height: 7vw;
  user-select: none;
}

.lets_connect a:hover {
  color: #7f8cff94;
}

.lets_connect_2 a:hover {
  color: #7f8cff94;
}

/* --------Footer----------------------- */

.footer {
  display: flex;
  width: 100vw;
  height: 20vw;
}

.footer h2 {
  display: none;
}

.footer_ul {
  display: flex;
  width: 100vw;
  height: 20vw;
  list-style-type: none;
  padding-left: 0.1vw;
  margin-left: -4vw;
}

.footer_ul_2 {
  display: flex;
  width: 100vw;
  height: 20vw;
  list-style-type: none;
  padding-left: 0.1vw;
  margin-left: -4vw;
}

.element {
  width: 4vw;
  height: 4vw;
  margin-left: 5vw;
}

.element_else {
  display: flex;
  width: 4vw;
  height: 4vw;
  margin-left: 5vw;
  flex-direction: row;
}

.left_side {
  display: flex;
  width: 2vw;
  flex-direction: column;
}

.img1 {
  height: 1.12vw;
  width: 1.12vw;
}

.img2 {
  height: 3vw;
  width: 1vw;
}

.right_side {
  width: 4.6vw;
  height: 4vw;
}

.right_side img {
  width: 2.4vw;
  height: 3.9vw;
  margin-top: 0.1vw;
}

/* --------Background elements----------------------- */

.elm_1 {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  background-image: url(./Assets/Images/elm1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 21vw;
  z-index: 1;
  width: 5vw;
  right: 90vw;
}

.icon_list {
  list-style-type: none;
}

.elm_2 {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  background-image: url(./Assets/Images/elm2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  left: 38vw;
  top: 27vw;
  z-index: 1;
  width: 3vw;
}

.elm_3 {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  background-image: url(./Assets/Images/elm3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  left: 38vw;
  top: 25vw;
  z-index: 1;
  width: 6vw;
}

.elm_4 {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  background-image: url(./Assets/Images/elm4.png);
  background-size: 100%;
  background-repeat: no-repeat;
  left: 87vw;
  top: 25vw;
  z-index: 2;
  width: 13vw;
  height: 30vw;
}

.elm_5 {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  background-image: url(Assets/Images/elm5.png);
  background-size: 100%;
  background-repeat: no-repeat;
  left: 90vw;
  top: 134vw;
  z-index: 1;
  width: 6.5vw;
}

.elm_6 {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  background-image: url(./Assets/Images/elm6.png);
  background-size: 100%;
  background-repeat: no-repeat;
  left: 60vw;
  top: 170vw;
  z-index: 1;
  width: 5vw;
  height: 5vw;
}

.elm_7 {
  display: none;
}

.elm_8 {
  display: none;
}

.elm_9 {
  display: none;
}

.elm_10 {
  display: none;
}

/* --------Work Grid----------------------- */

.work_grid {
  font-family: 'Poppins', sans-serif;
  position: relative;
  height: fit-content;
  grid-template-rows: 147vw 147vw 147vw;
  margin-bottom: 30vw;
}

.work_grid_final {
  font-family: 'Poppins', sans-serif;
  position: relative;
  height: fit-content;
  grid-template-rows: 147vw 147vw 147vw;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 87.2vw;
  height: fit-content;
  margin-left: 6vw;
  margin-top: 10vw;
  border-color: #dfe1e6;
  border-style: solid;
  border-width: 0.1vw;
  border-radius: 3vw;
  background-color: white;
}

.box_about_bg {
  position: absolute;
  background-color: white;
  width: 100.2vw;
  height: 300vw;
  z-index: -1;
  margin-left: -5.8vw;
  margin-top: -10vw;
  border-top-right-radius: 10vw;
}

.box_last {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 87.2vw;
  height: fit-content;
  margin-left: 5.5vw;
  margin-top: 10vw;
}

.box_rev {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 87.2vw;
  height: fit-content;
  margin-left: 6vw;
  margin-top: 10vw;
  border-color: #dfe1e6;
  border-style: solid;
  border-width: 0.1vw;
  border-radius: 3vw;
  background-color: white;
}

.box_about {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 87.2vw;
  height: fit-content;
  margin-left: 5.5vw;
  margin-top: 10vw;
}

.item {
  font-family: 'Poppins', sans-serif;
  margin-left: 4.2vw;
  width: 70.2vw;
}

.item_2 {
  font-family: 'Poppins', sans-serif;
  margin-left: 4.2vw;
  width: 80.2vw;
}

.preview {
  background-size: auto;
  background-size: contain;
  background-repeat: no-repeat;
  width: 78.66vw;
  height: 58.66vw;
  margin-top: 4.2vw;
  margin-bottom: 4.2vw;
  margin-left: 4.5vw;
  transition: 0.5s ease-in-out;
}

.preview:hover {
  box-shadow: 1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.1);
  transform: scale(1.11, 1.15);
}

.title {
  margin-top: 1vw;
  width: 78.66vw;
  height: fit-content;
}

.title h1 {
  margin: 0.1vw;
  font-size: 9vw;
  color: #344563;
}

.features {
  display: flex;
  flex-direction: row;
  height: 14vw;
  margin-left: -6vw;
}

.feature_1 {
  font-size: 4vw;
  color: #344563;
  margin-bottom: 1vw;
  padding-bottom: 0.1vw;
}

.feature_2 {
  font-size: 4vw;
  color: #7a869a;
  margin-bottom: 1vw;
  padding-bottom: 0.1vw;
}

.dot {
  background-image: url(./Assets/Images/dot.png);
  background-size: 30%;
  background-position-y: 65%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  width: 7vw;
  height: 14vw;
}

.description {
  height: fit-content;
}

.description p {
  font-size: 4vw;
  color: #344563;
}

.languages {
  width: 70vw;
  height: 16vw;
  margin-left: -9vw;
}

.languages li {
  float: left;
}

.languages h5 {
  font-size: 4vw;
  color: #6070ff;
  margin-left: 3vw;
}

.button {
  border-radius: 3vw;
  border-style: solid;
  border-width: 0.2vw;
  border-color: #396df2;
  width: fit-content;
  margin-bottom: 5vw;
  margin-top: 5vw;
  color: #396df2;
}

.button h3 {
  font-size: 5vw;
  margin: 2vw;
}

.about_category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 16vw;
  font-size: 6vw;
  width: 70vw;
}

.about_category_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 16vw;
  font-size: 6vw;
  width: 70vw;
}

.about_category h4 {
  margin-top: 0.1vw;
  margin-bottom: 0.1vw;
  height: 2vw;
}

.about_category_1 h4 {
  margin-top: 0.1vw;
  margin-bottom: 0.1vw;
  height: 2vw;
}

.arrow_op {
  height: 16vw;
  width: 4vw;
  background-image: url(./Assets/Images/down_arrow.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
  margin-right: 10vw;
}

.arrow_cl {
  height: 16vw;
  width: 4vw;
  background-image: url(./Assets/Images/down_arrow.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
  margin-right: 10vw;
}

.lang_prop {
  display: flex;
  flex-direction: row;
  height: 10vw;
  margin-bottom: 5vw;
  list-style-type: none;
}

.lang_prop p {
  margin-left: 3vw;
  margin-top: 2.5vw;
}

.lang_img_1 {
  width: 10vw;
  height: 10vw;
  background-image: url(./Assets/Images/jselipse.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.lang_img_2 {
  width: 10vw;
  height: 10vw;
  background-image: url(./Assets/Images/html5elipse.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.lang_img_3 {
  width: 10vw;
  height: 10vw;
  background-image: url(./Assets/Images/csselipse.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

/* --------------------contact page-------------------- */

.contact_background {
  position: absolute;
  background-color: #6070ff;
  width: 100vw;
  left: -5.8vw;
  height: 185vw;
  border-top-left-radius: 25vw;
}

.bg_elm_1 {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  background-image: url(./Assets/Images/2_1.png);
  z-index: 2;
  left: 40vw;
  top: 15vw;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 5vw;
  height: 5vw;
}

.bg_elm_2 {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  background-image: url(./Assets/Images/2_2.png);
  z-index: 2;
  left: 87vw;
  top: 5vw;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 13vw;
  height: 10vw;
}

.bg_elm_3 {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  background-image: url(./Assets/Images/2_3.png);
  z-index: 2;
  left: 90vw;
  top: 10vw;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 10vw;
  height: 20vw;
}

.bg_elm_4 {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  background-image: url(./Assets/Images/2_4.png);
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 70vw;
  top: 162vw;
  width: 8vw;
  height: 8vw;
}

.bg_elm_5 {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  background-image: url(./Assets/Images/2_5.png);
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 71vw;
  top: 156vw;
  width: 15vw;
  height: 15vw;
}

.bg_elm_6 {
  display: none;
}

.bg_elm_7 {
  display: none;
}

.bg_elm_8 {
  display: none;
}

.title_2 {
  color: white;
  margin-top: 27vw;
  margin-left: 12.5vw;
  height: fit-content;
  z-index: 1;
}

.title_2 h1 {
  font-size: 10vw;
  margin: 0.1vw;
}

.contact_resume {
  margin-left: 8vw;
  height: fit-content;
  width: 70vw;
  color: white;
  z-index: 1;
  margin-bottom: 6vw;
}

.contact_resume p {
  font-size: 4.5vw;
  text-align: center;
  margin: 0.1vw;
}

.announce_bad_email {
  position: absolute;
  box-shadow: 1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0.2vw;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 2vw;
  top: 140vw;
  left: 30vw;
  width: 55vw;
  height: 9vw;
  background-color: white;
  opacity: 1;
  animation-name: announce_appear1;
  animation-duration: 1s;
  padding: 2vw;
}

@keyframes announce_appear1 {
  0% {
    top: 145vw;
    opacity: 0;
  }

  100% {
    top: 140vw;
    opacity: 1;
  }
}

.announce_text {
  font-size: 3.5vw;
  margin: 0.01vw;
}

.input_1 {
  margin-top: 4vw;
  width: 73vw;
  height: 10vw;
  z-index: 1;
  border-radius: 2vw;
  border-style: none;
  padding-left: 3vw;
  padding-right: 8vw;
  color: black;
  background-color: white;
}

@keyframes email_input_error {
  0% {
    transform: translateX(0.01vw);
    color: rgb(255, 255, 255);
    background-color: rgb(204, 12, 12);
  }

  25% {
    transform: translateX(-1vw);
    color: rgb(255, 255, 255);
    background-color: rgb(204, 12, 12);
  }

  50% {
    transform: translateX(1vw);
    color: rgb(255, 255, 255);
    background-color: rgb(204, 12, 12);
  }

  75% {
    transform: translateX(-1vw);
    color: rgb(255, 255, 255);
    background-color: rgb(204, 12, 12);
  }

  100% {
    transform: translateX(1vw);
    color: rgb(255, 255, 255);
    background-color: rgb(204, 12, 12);
  }
}

.email_val_img {
  position: absolute;
  display: none;
  width: 5vw;
  height: 5vw;
  z-index: 4;
  left: 81vw;
  top: 104vw;
}

.span_1 {
  margin-top: 4vw;
  width: 73vw;
  height: 32vw;
  z-index: 1;
  border-radius: 2vw;
  border-style: none;
  padding: 3vw;
}

.contact_button_1 {
  border-radius: 2vw;
  border-style: solid;
  border-width: 0.2vw;
  border-color: #396df2;
  width: fit-content;
  margin-bottom: 5vw;
  margin-top: 2vw;
  z-index: 1;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: #396df2;
  font-size: 4vw;
  padding: 2.5vw;
}

.contact_form {
  z-index: 2;
}

/* ---------------------------------- detail mobile styles --------------------- */

.detail_title {
  color: #172b4d;
  font-size: 7vw;
}

.detail_sec {
  display: inline;
}

.language_box {
  display: flex;
  flex-direction: row;
}

.language_prop {
  margin-right: 3vw;
  font-size: 4vw;
  color: #6070ff;
}

.detail_descr {
  font-size: 3.5vw;
}

.det_button {
  display: flex;
  flex-direction: row;
  margin-right: 4vw;
  border-color: #396df2;
  border-style: solid;
  border-radius: 2vw;
  border-width: 0.4vw;
  height: 8vw;
  width: 38vw;
  padding: 1vw 1vw 1vw 1vw;
}

.detail_features {
  display: flex;
  flex-direction: row;
  margin-bottom: 4vw;
}

.det_feature_dot {
  width: 2vw;
  height: 2vw;
  margin-top: 2vw;
}

.det_feature {
  font-size: 4vw;
  margin: 0.01vw 2vw 0.01vw 2vw;
  color: #7a869a;
}

.det_feature:hover {
  color: #344563;
}

.det_buttons_div {
  display: flex;
  flex-direction: row;
  margin: 0.01vw;
}

.det_button_text {
  color: #396df2;
  margin: 1.8vw;
  font-size: 3.8vw;
}

.det_button_icon {
  margin-top: 1vw;
  margin-left: 2vw;
  width: 5vw;
  height: 5vw;
}

.det_close_btn {
  position: absolute;
  left: 80vw;
  top: 8vw;
}

.detail_img {
  width: 80vw;
}

.detail_pre_background {
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0.01vw;
  top: 0.01vw;
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  z-index: 4;
  overflow-x: scroll;
}

@keyframes background-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}

@keyframes background-close {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
  }
}

.detail_background {
  box-shadow: 1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.2);
  background: white;
  position: fixed;
  border-radius: 3vw;
  margin-left: -40vw;
  left: 45vw;
  top: 2vh;
  width: 80vw;
  max-height: 85vh;
  z-index: 4;
  padding: 5vw;
  overflow-y: scroll;
}

@keyframes detail_open {
  0% {
    left: -200vw;
  }

  70% {
    left: 47vw;
  }

  80% {
    left: 43vw;
  }

  90% {
    left: 46vw;
  }

  100% {
    left: 45vw;
  }
}

@keyframes detail_close {
  0% {
    left: 50vw;
  }

  25% {
    left: 95vw;
  }

  50% {
    left: -200vw;
  }

  100% {
    left: -200vw;
  }
}

/* ---------------------------------- end of detail mobile styles --------------------- */

/* ----------------------------- DESKTOP VERSION ------------------ */

@media (min-width: 1024px) {
  .hidden {
    display: none;
  }

  ul {
    list-style: none;
    margin-left: -11vw;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  .flexbox {
    position: absolute;
    display: flex;
    width: 95vw;
    height: fit-content;
    flex-direction: column;
    margin: 0.1vw;
  }

  /* --------------------origin flex box items--------------------- */

  /* -------------header--------------- */
  .header {
    position: fixed;
    box-shadow: 0.5vw 0.5vw 2vw 0.5vw rgba(0, 0, 0, 0.2);
    display: flex;
    height: 4.5vw;
    width: 99vw;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
    background: white;
    top: 0;
    left: 0;
  }

  .menu_title {
    position: relative;
    font-size: 5vw;
    width: 70vw;
    height: 12vw;
    margin-left: 10vw;
    margin-top: -3vw;
  }

  .menu_title img {
    width: 5vw;
    animation: image_rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  @keyframes image_rotate {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }

  .lets_connect a {
    color: #7f8cff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.11vw;
    line-height: 0.1vw;
    user-select: none;
    margin: 0;
    transition: color 0.5s ease-in-out;
  }

  .lets_connect_2 a {
    color: #7f8cff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.11vw;
    line-height: 0.1vw;
    user-select: none;
    margin-left: -4.3vw;
  }

  .links {
    position: relative;
    display: flex;
    margin-top: 1.2vw;
    flex-direction: row;
    font-size: 1.04vw;
    height: 2.5vw;
    margin-right: 6vw;
  }

  .links a {
    color: #53575f;
    text-decoration: none;
    margin-left: 2.22vw;
    font-size: 1vw;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .button h3 a {
    text-decoration: none;
  }

  .links a:hover {
    transform: scale(1.3);
  }

  .menu_btn {
    display: none;
    width: 7vw;
    height: 7vw;
    margin-top: 2vw;
    margin-right: 10vw;
    flex-direction: column;
  }

  .menu_btn_elm {
    margin-top: 2vw;
    height: 1vw;
  }

  /* -----------content----------------- */
  .content_body {
    position: relative;
    display: flex;
    background-color: white;
    height: 60vw;
    flex-direction: column;
    z-index: 1;
    margin-top: 0;
    width: 98.4vw;
    border-bottom-left-radius: 8vw;
  }

  .greetings {
    position: relative;
    margin-top: 20.73vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin-left: 18.06vw;
    width: 30vw;
    height: 9vw;
  }

  .greetings h1 {
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.3vw;
    line-height: 3.5vw;
    user-select: none;
  }

  .about {
    margin-left: 18.06vw;
    width: 63.88vw;
    height: 11vw;
  }

  .about h3 {
    color: #344563;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.39vw;
    line-height: 2.2vw;
    user-select: none;
  }

  .lets_connect {
    height: 1.2vw;
    padding: 0;
  }

  .lets_connect_2 {
    height: 1.2vw;
    padding: 0;
    margin-left: -2vw;
  }

  .lets_connect a:hover {
    color: #7f8cff94;
  }

  .lets_connect_2 a:hover {
    color: #7f8cff94;
  }

  /* --------Footer----------------------- */
  .footer {
    display: flex;
    width: 100vw;
    height: 2vw;
    margin-bottom: 0;
  }

  .footer h2 {
    display: none;
  }

  .footer_ul {
    display: flex;
    width: 80vw;
    height: 10vw;
    list-style-type: none;
    padding-left: 0.1vw;
    margin-left: 12.2vw;
  }

  .footer_ul_2 {
    display: flex;
    width: 80vw;
    height: 10vw;
    list-style-type: none;
    padding-left: 0.1vw;
    margin-left: -5.7vw;
  }

  .element {
    width: 1.2vw;
    height: 1.2vw;
    margin-left: 1.5vw;
  }

  .element_else {
    display: flex;
    width: 1.2vw;
    height: 1.2vw;
    margin-left: 1.5vw;
    flex-direction: row;
  }

  .left_side {
    display: flex;
    width: 0.6vw;
    flex-direction: column;
  }

  .img1 {
    height: 0.09vw;
    width: 0.09vw;
  }

  .img2 {
    height: 0.9vw;
    width: 0.3vw;
  }

  .right_side {
    width: 1.38vw;
    height: 1.2vw;
  }

  .right_side img {
    width: 0.72vw;
    height: 1.17vw;
    margin-top: 0.03vw;
  }

  /* --------Background elements----------------------- */
  .elm_1 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/elm_2_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 13.27vw;
    z-index: 1;
    height: 7vw;
    width: 6.24vw;
    left: 2vw;
  }

  .icon_list {
    list-style-type: none;
  }

  .elm_2 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/elm_2_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 16.27vw;
    z-index: 1;
    height: 7vw;
    width: 4.24vw;
    left: 5.5vw;
  }

  .elm_3 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/elm_2_3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 18.27vw;
    z-index: 1;
    height: 7vw;
    width: 3.34vw;
    left: 45.5vw;
  }

  .elm_4 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/elm_2_4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 19.27vw;
    z-index: 1;
    height: 7vw;
    width: 1.34vw;
    left: 46.7vw;
  }

  .elm_5 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/elm_2_5.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 8.27vw;
    z-index: 1;
    height: 10vw;
    width: 10vw;
    left: 83.7vw;
  }

  .elm_6 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/elm_2_6.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 11.27vw;
    z-index: 1;
    height: 10vw;
    width: 10vw;
    left: 87.7vw;
  }

  .elm_7 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/elm_2_7.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 50.27vw;
    z-index: 1;
    display: inline;
    height: 7vw;
    width: 2.5vw;
    left: 17.7vw;
  }

  .elm_8 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/elm_2_8.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 51.4vw;
    z-index: 1;
    display: inline;
    height: 7vw;
    width: 3vw;
    left: 16.7vw;
  }

  .elm_9 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/elm_2_9.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 46.4vw;
    z-index: 1;
    display: inline;
    height: 12vw;
    width: 12vw;
    left: 50.7vw;
  }

  .elm_10 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/elm_2_10.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 47.4vw;
    z-index: 1;
    display: inline;
    height: 3vw;
    width: 3vw;
    left: 58.7vw;
  }

  /* --------Work Grid----------------------- */
  .work_grid {
    font-family: 'Poppins', sans-serif;
    position: relative;
    height: fit-content;
    grid-template-rows: 147vw 147vw 147vw;
    margin-bottom: 5vw;
  }

  .work_grid_final {
    font-family: 'Poppins', sans-serif;
    position: relative;
    height: fit-content;
    grid-template-rows: 147vw 147vw 147vw;
    margin-bottom: 0;
  }

  .box {
    border-radius: 1.5vw;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 31.7vw;
    margin-left: 16vw;
    margin-top: 10vw;
    border: 0.1vw solid transparent;
  }

  .box_about_bg {
    position: absolute;
    background-color: white;
    width: 99.4vw;
    height: 90vw;
    z-index: -1;
    margin-left: -8.6vw;
    margin-top: -10vw;
    border-top-right-radius: 10vw;
  }

  .box:hover {
    border-style: solid;
    border-width: 0.1vw;
    border-color: #a7aeff;
  }

  .box_about {
    border-radius: 1.5vw;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 29vw;
    margin-left: 16vw;
    margin-top: 10vw;
    border: 0.1vw solid transparent;
  }

  .box_last {
    border-radius: 1.5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 34.44vw;
    margin-left: 6vw;
    margin-top: 10vw;
  }

  .box_rev {
    border-radius: 1.5vw;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 80vw;
    height: 31.7vw;
    margin-left: 16vw;
    margin-top: 10vw;
    border: 0.1vw solid transparent;
  }

  .box_rev:hover {
    border-style: solid;
    border-width: 0.1vw;
    border-color: #a7aeff;
  }

  .item {
    font-family: 'Poppins', sans-serif;
    float: left;
    margin-left: 4.2vw;
    width: 38vw;
  }

  .item_2 {
    font-family: 'Poppins', sans-serif;
    width: 80.2vw;
  }

  .sub_box {
    font-family: 'Poppins', sans-serif;
    margin-left: 4.2vw;
    width: 25vw;
  }

  .sub_box_2 {
    font-family: 'Poppins', sans-serif;
    float: left;
    margin-left: 0;
    width: 38vw;
  }

  .sub_box_2 li ul {
    display: flex;
    flex-direction: row;
  }

  .sub_box_3 {
    font-family: 'Poppins', sans-serif;
    float: left;
    margin-left: 4.2vw;
    margin-top: 5vw;
    width: 38vw;
  }

  .sub_box_3 li ul {
    display: flex;
    flex-direction: row;
  }

  .preview {
    background-size: contain;
    background-repeat: no-repeat;
    width: 36.94vw;
    height: 27.62vw;
    margin: 2vw;
  }

  .title {
    margin-top: 2vw;
    width: 30vw;
    height: fit-content;
    margin-left: 0;
  }

  .title h1 {
    margin: 0.1vw;
    font-size: 2.78vw;
    color: #344563;
    width: 50vw;
  }

  .features {
    display: flex;
    flex-direction: row;
    height: 2vw;
    margin-left: -1vw;
    margin-bottom: 2vw;
    padding-top: 0;
  }

  .feature_1 {
    font-size: 1.25vw;
    color: #344563;
    margin-bottom: 2vw;
    padding-bottom: 0.1vw;
  }

  .feature_2 {
    font-size: 1.25vw;
    color: #7a869a;
    margin-bottom: 1vw;
    padding-bottom: 0.1vw;
  }

  .dot {
    background-image: url(./Assets/Images/dot.png);
    background-size: 30%;
    background-position-y: 60%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    width: 2.19vw;
    height: 4.38vw;
  }

  .description {
    height: fit-content;
    margin-left: 0;
    width: 25vw;
  }

  .description p {
    font-size: 1.11vw;
    color: #344563;
  }

  .languages {
    width: 40vw;
    height: 4.45vw;
    margin-left: -1vw;
  }

  .languages li {
    float: left;
    height: 2vw;
    border-radius: 0.7vw;
    border-width: 0.1vw;
    background-color: #ebebff;
    margin-right: 1vw;
  }

  .languages h5 {
    font-size: 0.83vw;
    color: #6070ff;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vw;
  }

  .button {
    border-radius: 1vw;
    border-style: solid;
    border-width: 0.2vw;
    border-color: #396df2;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 1vw;
    margin-top: 1vw;
    margin-left: 0;
    user-select: none;
    color: #396df2;
    transition: 0.5s ease-in-out;
  }

  .button:hover {
    background-color: #396df2;
    color: white;
  }

  .button h3 {
    font-size: 1.18vw;
    margin: 1vw;
    user-select: none;
  }

  .about_category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vw;
    font-size: 1.67vw;
    width: 40vw;
    border-bottom-style: solid;
    border-color: #dfe1e6;
    border-width: 0.2vw;
  }

  .about_category h4 {
    margin-top: 1vw;
    color: #344563;
  }

  .about_category_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vw;
    font-size: 1.67vw;
    width: 40vw;
    border-width: 0.2vw;
  }

  .about_category_1 h4 {
    margin-top: 1vw;
    color: #344563;
  }

  .arrow_op {
    height: 4.45vw;
    width: 1.11vw;
    background-image: url(./Assets/Images/down_arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    margin-right: 0;
  }

  .arrow_cl {
    height: 4.45vw;
    width: 1.11vw;
    background-image: url(./Assets/Images/right_arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    margin-right: 0;
  }

  .lang_prop {
    display: flex;
    flex-direction: column;
    height: 8vw;
    margin-bottom: 0;
    list-style-type: none;
    align-content: center;
  }

  .lang_prop p {
    margin-left: 4vw;
    font-size: 1.04vw;
    width: 2vw;
  }

  .lang_prop_box {
    margin-left: -2.5vw;
  }

  .lang_img_1 {
    width: 3.33vw;
    height: 3.33vw;
    background-image: url(./Assets/Images/jselipse.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }

  .lang_img_2 {
    width: 3.33vw;
    height: 3.33vw;
    background-image: url(./Assets/Images/html5elipse.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }

  .lang_img_3 {
    width: 3.33vw;
    height: 3.33vw;
    background-image: url(./Assets/Images/csselipse.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }

  /* --------------------contact page-------------------- */
  .contact_background {
    position: absolute;
    background-color: #6070ff;
    width: 98.8vw;
    left: -6.4vw;
    height: 58.75vw;
    border-top-left-radius: 10vw;
  }

  .bg_elm_1 {
    position: absolute;
    color: rgba(0, 0, 0, 0);
    background-image: url(./Assets/Images/3_1.png);
    z-index: 2;
    left: 35vw;
    top: 6vw;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1.88vw;
    height: 1.88vw;
  }

  .bg_elm_2 {
    position: absolute;
    color: rgba(0, 0, 0, 0);
    background-image: url(./Assets/Images/3_2.png);
    z-index: 2;
    left: 84.14vw;
    top: 5vw;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7.52vw;
    height: 4.51vw;
  }

  .bg_elm_3 {
    position: absolute;
    color: rgba(0, 0, 0, 0);
    background-image: url(./Assets/Images/3_3.png);
    z-index: 2;
    left: 85vw;
    top: 8vw;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 8.96vw;
    height: 8.96vw;
  }

  .bg_elm_4 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/3_4.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 5vw;
    top: 25vw;
    width: 3.33vw;
    height: 3.33vw;
  }

  .bg_elm_5 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/3_5.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 5.5vw;
    top: 22.5vw;
    width: 6vw;
    height: 6vw;
  }

  .bg_elm_6 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/3_6.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 80vw;
    top: 37vw;
    width: 5.21vw;
    height: 5.21vw;
  }

  .bg_elm_7 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/3_7.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 20vw;
    top: 53vw;
    width: 4.16vw;
    height: 2.5vw;
  }

  .bg_elm_8 {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url(./Assets/Images/3_8.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 21.5vw;
    top: 54.5vw;
    width: 3.8vw;
    height: 3vw;
  }

  .title_2 {
    text-align: center;
    color: white;
    margin-top: 7vw;
    margin-left: 6vw;
    height: fit-content;
    z-index: 1;
  }

  .title_2 h1 {
    font-size: 2.78vw;
    margin: 0.1vw;
  }

  .contact_resume {
    margin-left: 27vw;
    height: 2.5vw;
    width: 31.04vw;
    color: white;
    z-index: 1;
  }

  .contact_resume p {
    font-size: 1.39vw;
    text-align: center;
    margin: 0.1vw;
  }

  .input_1 {
    margin-top: 1.87vw;
    width: 31.04vw;
    height: 3.33vw;
    z-index: 1;
    border-radius: 0;
    border-style: none;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-left: 26vw;
    font-size: 1.18vw;
  }

  .email_val_img {
    position: absolute;
    display: none;
    width: 2vw;
    height: 2vw;
    z-index: 4;
    left: 57vw;
    top: 27.8vw;
  }

  .announce_bad_email {
    position: absolute;
    box-shadow: 1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0.2vw;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5vw;
    top: 45vw;
    left: 45vw;
    width: 16vw;
    height: 2.5vw;
    background-color: white;
    opacity: 1;
    animation-name: announce_appear;
    animation-duration: 1s;
    padding: 0.5vw;
  }

  .announce_text {
    font-size: 1vw;
    margin: 0.01vw;
  }

  @keyframes announce_appear {
    0% {
      top: 50vw;
      opacity: 0;
    }

    100% {
      top: 45vw;
      opacity: 1;
    }
  }

  .span_1 {
    margin-top: 1.87vw;
    width: 31.04vw;
    height: 11.81vw;
    z-index: 1;
    border-radius: 0;
    border-style: none;
    padding: 1.5vw;
    margin-left: 26vw;
    font-size: 1.18vw;
  }

  .contact_button_1 {
    border-radius: 0.5vw;
    border-style: solid;
    border-width: 0.2vw;
    border-color: #396df2;
    width: 9.72vw;
    height: 3.33vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    margin-left: 38.2vw;
    z-index: 1;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: #396df2;
    font-size: 1.18vw;
    padding: 0.1vw;
  }

  .contact_form {
    width: 32vw;
    z-index: 2;
  }

  /* ---------------------------------------- detail desktop version ------------------------ */

  .detail_title {
    color: #172b4d;
    font-size: 1vw;
    height: 2vw;
    margin-top: 0.001vw;
  }

  .detail_sec {
    display: inline;
  }

  .language_box {
    display: flex;
    flex-direction: row;
  }

  .language_prop {
    margin-right: 1vw;
    margin-left: 0.1vw;
    margin-top: 0.5vw;
    font-size: 0.5vw;
    color: #6070ff;
  }

  .detail_descr {
    font-size: 0.5vw;
    width: 25vw;
  }

  .main_box {
    display: flex;
    width: 35vw;
  }

  .left_box {
    width: 25vw;
  }

  .right_box {
    width: 10vw;
  }

  .det_button {
    display: flex;
    flex-direction: row;
    margin-right: 0.4vw;
    border-color: #396df2;
    border-style: solid;
    border-radius: 0.4vw;
    border-width: 0.05vw;
    height: 1.5vw;
    width: 4.7vw;
    padding: 0.01vw 0.01vw 0.01vw 0.01vw;
  }

  .det_button:hover {
    fill: white;
  }

  .detail_features {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vw;
  }

  .det_feature_dot {
    width: 0.5vw;
    height: 0.5vw;
    margin-top: 0.001vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .det_feature {
    font-size: 0.5vw;
    color: #7a869a;
    margin: 0.001vw;
  }

  .det_feature:hover {
    color: #344563;
  }

  .det_buttons_div {
    display: flex;
    flex-direction: row;
    margin: 0.01vw;
  }

  .det_button_text {
    color: #396df2;
    margin-top: 0.4vw;
    margin-left: 0.4vw;
    margin-right: 0.01vw;
    font-size: 0.5vw;
    width: 4vw;
  }

  .det_button_icon {
    margin-top: 0.4vw;
    margin-left: 0.2vw;
    margin-right: 0.4vw;
    width: 0.7vw;
    height: 0.7vw;
  }

  .det_close_btn {
    position: absolute;
    left: 35vw;
    top: 1vw;
    width: 0.5vw;
    height: 0.5vw;
  }

  .detail_img {
    width: 35vw;
    height: 20vw;
    object-fit: cover;
  }

  .detail_pre_background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0.01vw;
    top: 0.01vw;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    z-index: 4;
    overflow-y: scroll;
  }

  @keyframes background-open {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.4;
    }
  }

  @keyframes background-close {
    0% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.4;
    }

    100% {
      opacity: 0;
    }
  }

  .detail_background {
    box-shadow: 1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.2);
    background: white;
    position: fixed;
    border-radius: 0.5vw;
    margin-left: -17.5vw;
    margin-top: -17.5vw;
    left: 50vw;
    top: 50vh;
    width: 35vw;
    height: 35vw;
    z-index: 4;
    padding: 1vw;
  }

  @keyframes detail_open {
    0% {
      left: -200vw;
    }

    70% {
      left: 52vw;
    }

    80% {
      left: 48vw;
    }

    90% {
      left: 51vw;
    }

    100% {
      left: 50vw;
    }
  }

  @keyframes detail_close {
    0% {
      left: 50vw;
    }

    25% {
      left: 75vw;
    }

    50% {
      left: -200vw;
    }

    100% {
      left: -200vw;
    }
  }
}

/* ---------------------------------- end of detail mobile styles --------------------- */
